.register-page .register-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 96px;
  
  background-color: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register-page .register-content section {
  width: 100%;
  max-width: 380px;
}

.register-page .register-content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-page .register-content section p {
  padding: 0 10px 0 0;

  color: #737380;
  font-size: 18px;
  line-height: 32px;
}

.register-page .register-content form {
  width: 100%;
  max-width: 450px;
}

.register-page .register-content form input{
  margin-top: 8px;
}